* {
    box-sizing: border-box;
 }


 body {
    align-items: center;
    justify-content: center;
    background-color: Azure;
    height: 100vh;
    display: flex;
    margin: 0;
    font-family: Monospace;
    color: LightSlateGray;
    flex-direction: column;
    transition: .5s ease-in-out;
 }

 .box {
    width: 100px;
    height: 50px;
    background-color: LightSlateGray;
    transition: .5s ease-in-out;
 }

.btn {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    background-color: LightGrey ;
    cursor: pointer;
    border: 0px;
    transition: transform .5s ease-in-out;
}

.dark {
    color: LightSlateGray;
    transition: .25s ease-in-out;
    margin-bottom: -40px;
}

.light {
    color: azure;
    transition: .25s ease-in-out;
}

.dark.active {
    color: Grey;
    transition: .25s ease-in-out;
}

.light.active {
    color: beige;
    transition: .25s ease-in-out;
}

 .btn.active {
    transform: translateX(49px);
    background-color: DimGrey;
    transition: .5s ease-in-out;
 }

 .box.active{
    transition: .5s ease-in-out;
    background-color: beige;
 }

 body.active{
    color: beige;
    background-color: Grey;
    transition: .5s ease-in-out;
 }

