 * {
    box-sizing: border-box;
 }

 body {
    display: flex;
    background-color: LightGrey;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
 }


.calculator {
   position: relative;
   height: 10vh;
   width: 30vw;
   background-color: grey;
   color: black;
   border-radius: 10px;
}


.btn1 {
   position: relative;
   top: -100px;
   color: black;
   height: 10vh;
   width: 10vw;
   background-color: Grey;
   border: 0;
   border-radius: 15px;
 }

 .btn0 {
   border-radius: 20px;
   height: 10vh;
   width: 20vw;
   background-color: Grey;
   border: 0;
   position: relative;
   top: 300px;
 }
